In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames

# Import supplementary visualization code visuals.py
import visuals as vs

# Pretty display for notebooks
%matplotlib inline

# Load the Census dataset
data = pd.read_csv("census.csv")

# Success - Display the first record
display(data.head(n=1))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K

In [2]:
df = data.copy()

In [3]:
df['income'].value_counts()

<=50K    34014
>50K     11208
Name: income, dtype: int64

In [4]:
under_50 = df[df['income']=='<=50K']['income'].count()
#under_50['income'].value_counts()
print(under_50)

34014

In [5]:
df1 = df.copy()
income_raw = df1['income']

In [6]:
import pandas_profiling as pp
profile = pp.ProfileReport(df1, title = 'Data Explore')

In [8]:
#$profile.to_widgets() - still not working

In [9]:
profile.to_file("CharityML_EDA.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [22]:
#How to convert:
# df["gender"] = np.where(df["gender"] == "female", 0, 1)
#df1['income'] = np.where(df1['income']== '<=50K', 0, 1)
income = np.where(income_raw=='<=50K', 0, 1)
print(income)

[0 0 0 ... 0 0 1]

precision:  0.2478439697492371
accuracy:  0.2478439697492371
recall:  1.0

TypeError: unsupported operand type(s) for ^: 'float' and 'int'